protobuf==3.20.*
streamlit==1.52.2
pypdf==4.2.0
langchain==0.3.27
langchain-community==0.3.27
langchain-openai
langchain_groq
python-dotenv
langchain-huggingface
sentence_transformers==5.2.0
streamlit-audiorecorder
streamlit-float
audio-recorder-streamlit
groq
Watchdog
elevenlabs
gtts